main {
width: 90%;
margin:auto;

}

.profile {
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.profile-img {
    width:75%;
    border-radius: 50%;
    padding: 5px;
}

.profile h2 {
    column-span: all;
}

.social-links {
  display:flex;
  justify-content: space-evenly;
  margin:auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapsible {
    background-color:#5dbea3;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    border-radius: 25px;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
  }

  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .short-bio {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .portfolio-grid {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:auto;
  }
  